@import "../main.scss";

.SlackCommunity {
  font-family: $font-main;
  color: $font-color-main;

  .CommunitySection {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    @include md {
      flex-direction: row;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  .Text {
    width: 50%;
  }
  .Images {
    max-width: 80%;
  }

  h3 {
    font-size: $size-h2;
  }
  p {
    font-size: $size-p;
  }

  .Comment {
    padding: 12px;
  }
}

