@import "../main.scss";

.SlackCommunity {
  font-family: $font-main;
  color: $font-color-main;

  .CommunitySection {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include md {
      padding: 24px;
      flex-direction: row;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  .Text {
    padding: 24px;
    @include md {
      width: 50%;
    }
  }
  .Image {
    padding: 24px;
    max-width: 80%;
    @include md {
      width: 480px;
    }
  }

  h3 {
    font-size: $size-h2;
  }
  p {
    font-size: $size-p;
    margin-top: 6px;
    line-height: 1.1;
  }
}

