@import "../main.scss";

.FoundersClubHero {
  width: 1000px;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  .HeroHeader {
    font-family: $font-main;
    color: $font-color-main;
    font-size: $size-h1;
    text-align: center;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 0;
    @include sm {
      margin-top: 36px;
      display: block;
    }
    @include md {
      margin-top: 0;
    }
  }

  .Subheader {
    font-family: $font-main;
    color: $font-color-main;
    font-size: $size-p;
    max-width: 800px;
    font-weight: 400;
    text-align: center;
    margin-top: 52px;
    line-height: 1.3;
    strong {
      font-weight: 800;
    }
  }
}

.FoundersClubCTA {
  margin: 80px auto;
  width: fit-content;
  .Button {
    background-color: $cta-color-bg;
    color: $cta-color-font;
    font-family: $font-main;
    text-decoration: none;
    display: flex;
    font-weight: bold;
    border-radius: $radius-main;
    font-size: 1.3em;
    padding: 24px 24px;
    width: fit-content;

    &:hover {
      filter: $hover-filter;
    }
  }
  .SpecialOffer {
    font-size: 18px;
    color: $purple-dark;
    font-family: $font-main;
    margin: 6px 0 0 4px;
  }
}

.FeaturedTestimonial {
  font-family: $font-main;
  text-align: center;
  max-width: 95%;
  strong {
    font-weight: 600;
  }
}

.EmailSignup {
  margin-top: 200px;
}
