@import "../main.scss";

.FoundersClubHero {
  width: 1400px;
  height: 100%;
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin-top: 140px;
  position: relative;

  .Eyebrow {
    font-family: $font-main;
    color: $font-color-main;
    font-size: $size-p;
    text-transform: uppercase;
    margin-top: 18px;

    @include xl {
      margin-right: auto;
    }
  }

  .HeroHeader {
    font-family: $font-main;
    color: $font-color-main;
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    width: 100%;
    line-height: 1.1;
    margin-top: 36px;
    display: block;
    @include xl {
      text-align: left;
      margin-top: 12px;
    }
  }

  .Subheader {
    font-family: $font-main;
    color: $font-color-main;
    font-size: $size-p;
    max-width: 800px;
    font-weight: 400;
    text-align: center;
    margin-top: 42px;
    line-height: 1.6;
    strong {
      font-weight: 800;
    }
    @include xl {
      text-align: left;
    }
  }
}

.MinorHeader {
  font-family: $font-main;
  color: $font-color-main;
  font-size: $size-h3;
  text-align: center;
  font-weight: bold;
}

.Left, .Right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
.Left {
  width: 60%;
  display: none;
  @include xl {
    display: flex;
    min-width: 728px;
    width: 728px;
  }
}
.Right {
  width: 100%;
  @include xl {
    width: 440px;
    min-width: 440px;
    padding-left: 12px;
  }
}

.FoundersClubCTA {
  margin: 64px auto;
  width: fit-content;
  @include xl {
    margin: 52px auto 0 0;
  }
  .Button {
    background-color: $cta-color-bg;
    color: white;
    font-family: $font-main;
    text-decoration: none;
    display: flex;
    border-radius: $radius-main;
    font-size: 1.4em;
    padding: 18px 24px;
    width: fit-content;

    @include md {
      font-size: 1.8em;
    }

    &:hover {
      filter: $hover-filter;
    }
  }
  .SpecialOffer {
    font-size: 18px;
    color: $purple-dark;
    font-family: $font-main;
    margin: 6px 0 0 4px;
  }
}

.EmailSignup {
  margin-top: 200px;
}
