@import "../main.scss";

.PartnerDealsToggle {
  font-family: $font-main;
  color: $font-color-main;
  &:hover { text-decoration: underline; }
  cursor: pointer;
  background: none;
  border: none;
  margin: auto;
  display: block;
}
