@import "../main.scss";

.Button {
  border-radius: $radius-main;
  border: 2px solid $cta-color-border;
  background-color: $cta-color-bg;
  color: $cta-color-font;
  font-family: $text-font;
  text-decoration: none;
  display: flex;
  font-size: 1.1em;
  padding: 12px 12px;
  width: fit-content;

  &:hover {
    filter: $hover-filter;
  }
}
