@import "../main.scss";

.Button {
  background-color: $cta-color-bg;
  color: $cta-color-font;
  font-family: $font-main;
  border-radius: $radius-main;
  margin: auto;
  text-decoration: none;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  padding: 24px;
  width: fit-content;

  @include md {
    font-size: 1.4em;
  }

  &:hover {
    filter: $hover-filter;
  }
}
