@import "../main.scss";

$sm: 84px;
$md: 114px;
$lg: 256px;

.cloud {
  position: absolute;
  z-index: -1;
  opacity: .8;
}

.cloud-a {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $mustard;
  top: 0;
  left: 20%;
  transform: translate(-50%, -50%);
}

.cloud-b {
  width: 470px;
  height: $lg;
  border-radius: $lg;
  background-color: $mustard;
  top: 5%;
  right: 0;
  transform: translate(60%, 0%);
}

.cloud-c {
  width: 470px;
  height: $md;
  border-radius: $md;
  background-color: $purple-light;
  top: 13%;
  left: 0;
  transform: translate(-60%, 0%);
}

.cloud-d {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $white-cloud;
  top: 13%;
  left: 0;
  transform: translate(-75%, 80%);
}

.cloud-e {
  width: 470px;
  height: $lg;
  border-radius: $lg;
  background-color: $white-cloud;
  top: 25%;
  left: 0;
  transform: translate(-70%, 0);
}

.cloud-f {
  width: 470px;
  height: $md;
  border-radius: $md;
  background-color: $purple-light;
  top: 34%;
  right: 0;
  transform: translate(70%, 0);
}

.cloud-g {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $purple-light;
  top: 55%;
  left: 0;
  transform: translate(-70%, 0);
}

.cloud-h {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $white-cloud;
  top: 63%;
  right: 0;
  transform: translate(70%, 0);
}

.cloud-i {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $white-cloud;
  top: 77%;
  left: 0;
  transform: translate(-65%, 0);
}

.cloud-j {
  width: 470px;
  height: $md;
  border-radius: $md;
  background-color: $mustard;
  top: 87%;
  right: 0;
  transform: translate(65%, 0);
}

.cloud-k {
  width: 470px;
  height: $sm;
  border-radius: $sm;
  background-color: $purple-light;
  top: 86%;
  right: 0;
  transform: translate(70%, 0);
}


