@import "../main.scss";

.EmailListSignup {
  margin: auto;
  width: 90%;
  font-family: $font-main;
  h2.EmailSignupHeader {
    font-size: $size-h3;
    font-weight: 400;
    color: $font-color-main;
    text-align: center;
    line-height: 1.4;
  }
  form {
    max-width: 440px;
    width: 100%;
    position: relative;
    margin: 40px auto 0;
    box-shadow: $box-shadow;
    &.Error {
      @include shake;
    }
  }
  .EmailInput, .Submit {
    background: $white;
    border: none;
    height: 80px;
    padding: 0;
  }
  .EmailInput {
    width: 80%;
    border-radius: $radius-main 0 0 $radius-main;
    border: 2px solid $purple;
    border-right: 0px;
    caret-color: $purple;
    color: $purple;
    box-sizing: border-box;
    padding-left: 16px;
    &::placeholder {
      color: $purple;
      font-weight: 600;
    }
  }
  .Submit {
    text-align: right;
    width: 20%;
    border-radius: 0 $radius-main $radius-main 0;
    border: 2px solid $purple;
    border-left: 0px;
  }
  .Message {
    color: $font-color-main;
    position: absolute;
    margin-top: 24px;
    max-width: 400px;
    line-height: 1.2;
  }
}
