@import "../main.scss";

.FAQSection {
  margin: 100px auto 40px auto;
  width: 800px;
  max-width: 90%;

  color: $font-color-main;
  font-family: $font-main;
  font-weight: 700;
  line-height: 1.6;
  font-size: 22px;

  @include md {
    margin: 140px auto;
  }

  h2 {
    font-size: $size-h2;
    text-align: center;
  }

  .Items {
    margin-top: 32px;
  }

  .FAQ {
    margin-bottom: 24px;
    .Question {
      font-size: $size-h3;
    }
    .Answer {
      font-size: 18px;
      font-weight: normal;
      overflow: hidden;
      height: 0px;
      @include transition(height 1s);
      &.isActive {
        height: 200px;
      }
    }
  }
}

