@import "../main.scss";

.Footer {
  margin-top: 240px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: $font-color-main;
  font-family: $font-main;

  .Badge {
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .FooterContent {
    margin: auto;
    padding: 48px $site-padding;
    height: 100%;
    width: 100%;
    max-width: $site-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .Copyright, .SocialLinks {
      padding-top: 12px;
      @include md {
        padding: 0;
      }
    }

    .FooterLogo {
      display: inline-flex;
      width: fit-content;
    }
    a {
      text-decoration: none;
      color: $font-color-main;
    }
    .Copyright {
      font-family: $font-main;
      font-size: 16px;
      text-align: center;
      margin: 24px 0;

      @include md {
        margin: 0;
      }
    }
    .FooterLogo a {
      font-family: $font-main;
      font-size: $size-h3;
    }
  }
}
