@import "../main.scss";

.Footer {
  margin-top: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: $font-color-main;
  font-family: $font-main;

  .Badge {
    width: 140px;
    margin: 24px 0;

    @include md {
      margin: auto;
    }
  }

  .FooterContent {
    margin: auto;
    height: 100%;
    width: 98%;
    max-width: $site-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .SocialLinks {
      padding-top: 24px;
    }
    .FooterLogo {
      display: inline-flex;
      width: fit-content;
    }
    a {
      text-decoration: none;
      color: $font-color-main;
    }

    .FooterLogo a {
      font-family: $font-main;
      font-size: $size-h3;
    }

    .FooterLeft {
      display: flex;
      flex-direction: column;
    }

    .FooterRight {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .SiteLink {
      margin: 8px 0;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
      @include md {
        text-align: left;
      }
    }
  }
  .Copyright {
    font-family: $font-main;
    font-size: 16px;
    text-align: center;
    padding: 12px;

    @include md {
      margin: 0;
    }
  }
}
