@import "../main.scss";

.Footer {
  margin-top: 120px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  color: $font-color-main;
  font-family: $font-main;

  .FooterContent {
    padding: 48px $site-padding;
    height: 100%;
    width: 100%;
    max-width: $site-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include sm {
      flex-direction: row;
    }

    .Copyright, .SocialLinks {
      padding-top: 12px;
      @include sm {
        padding: 0;
      }
    }

    .FooterLogo {
      display: inline-flex;
      width: fit-content;
    }
    a {
      text-decoration: none;
      color: $font-color-main;
    }
    .Copyright {
      font-family: $font-main;
      font-size: $size-p;
    }
    .FooterLogo a {
      font-family: $font-main;
      font-size: $size-h3;
    }
  }
}
