@import "../main.scss";

.SiteHeader {
  height: 48px;
  display: flex;
  align-content: center;
  justify-content: center;
  
  .HeaderContent {
    max-width: 1200px;

    .HeaderLogo {
      font-family: $brand-font;
    }
  }
}
