@import "../main.scss";

.SiteHeader {
  display: flex;
  align-content: center;
  justify-content: center;
  background: $bg-color-main;
  width: 100%;
  
  .HeaderContent {
    padding: 12px $site-padding;
    height: 100%;
    width: 100%;
    max-width: $site-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include sm {
      flex-direction: row;
    }

    .HeaderLogo {
      display: inline-flex;
      width: fit-content;
    }
    .HeaderLogo a {
      font-family: $brand-font;
      font-size: $size-h3;
      text-decoration: none;
      color: $font-color-main;
    }

    .SocialLinks {
      padding-top: 6px;
      @include sm {
        padding: 0;
      }
    }
  }
}
