@import "../main.scss";

.Hero {
  background-image: url('../images/blue-world.png');
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 240px;

  @include sm {
    height: 420px;
  }

  .HeroHeader {
    font-family: $brand-font;
    color: $font-color-main;
    font-size: $size-h1;
    display: none;
    @include sm {
      display: block;
    }
  }

  .Subheader {
    font-family: monospace;
    color: $font-color-main;
    font-size: $size-h3;
    margin-top: 36px;
    display: none;
    @include sm {
      display: block;
    }
  }

  .Button.CTA {
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    font-size: 1.1em;
    padding: 12px 12px;

    @include sm {
      font-size: $size-cta;
      padding: 12px 36px;
      bottom: 0px;
    }
  }
}
