@import "../main.scss";

.Hero {
  max-width: $site-max-width;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroInner {
  margin-top: 140px;
  width: 740px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  .HeroHeader {
    font-family: $font-main;
    color: $font-color-main;
    text-align: center;
    font-weight: 800;
    display: none;
    line-height: 1.1;
    @include sm {
      display: block;
      font-size: $size-h2;
    }
    @include md {
      font-size: $size-h1;
    }
  }

  .Subheader {
    font-family: $font-main;
    color: $font-color-main;
    font-size: $size-h3;
    font-weight: 600;
    text-align: center;
    margin-top: 52px;
    @include sm {
      margin-top: 36px;
      font-weight: 400;
      font-size: $size-p;
    }
  }
}

.CTA {
  margin-top: 140px;
}
