@import "../main.scss";


.NextEventCTA {
  display: block;
  position: relative;
  text-decoration: none;
  margin-top: 56px;
  font-family: $text-font;
  color: $white;
}

.EventButton, .DateIcon {
  border-radius: $radius-main;
}

.NextEvent {
  border-radius: $radius-main $radius-main 0 0;
}

.NextEvent {
  position: absolute;
  z-index: 1;
  left: 8px;
  top: -28px;

  width: 184px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $mustard;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

.EventButton {
  position: relative;
  z-index: 2;
  background-color: $cta-color-bg;
  color: $cta-color-font;
  font-family: $text-font;
  font-size: 1.1em;
  padding: 8px;
  width: 624px;
  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: 0px 22px 14px -10px rgba(99,74,199,0.44);

  &:hover {
    filter: $hover-filter;
  }
}

.DateIcon, .Info {
  display: flex;
  flex-direction: column;
}

.DateIcon {
  height: 80px;
  width: 80px;
  background-color: $purple;
  font-weight: bold;
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Month {
    font-size: 17px;
  }

  .Date {
    font-size: 30px;
  }
}

.Info {
  margin-left: 16px;
  justify-content: center;

  .EventTitle {
    font-size: 21px;
    font-weight: 800;
  }

  .ExactDate {
    margin-top: 16px;
    font-size: 14px;
  }
}

.Arrow {
  margin-left: auto;
  margin-right: 16px;
}
