@import "../main.scss";
.SocialLinks, .LinkList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SocialLinks {
  width: fit-content;

  li {
    margin: 6px;

    a:hover {
      opacity: .6;
    }
  }
}
