@import '../main.scss';

.Summary {
  padding-top: 140px;
  margin: auto;
  text-align: center;
  max-width: 702px;
}
.Summary .Title, .Summary .Description {
  color: $font-color-main;
  font-family: $text-font;
}
.Summary .Title {
  font-size: $size-h2;
  font-weight: bold;
}
.Summary .Description {
  margin-top: 16px;
  font-size: $size-p;
  line-height: 1.2;
}
