@import '../main.scss';

.Summary {
  padding-top: 140px;
  margin: auto;
  text-align: center;
  max-width: 702px;
}
.Summary .Title, .Summary .Description {
  color: $font-color-main;
  font-family: $font-main;
}
.Summary .Title {
  font-size: $size-h3;
  font-weight: bold;

  @include sm {
    font-size: $size-h2;
  }
}
.Summary .Description {
  margin-top: 16px;
  line-height: 1.6;
  font-size: 16px;
  padding: 0 16px;
  @include sm {
    font-size: $size-p;
    padding: 0;
  }
}
