@import "../main.scss";

.Testimonials {
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  .Testimonial {
    margin: 0 24px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgba(0,0,0,0);

    .Text {
      padding: 60px 0;
      display: none;
      color: $font-color-main;
      font-family: $font-main;
      font-weight: 700;
      font-size: $size-h3;
      line-height: 1.2;
    }

    .Attribution {
      margin-top: auto;
      background: none;
      border-radius: $radius-main;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 18px;
      text-decoration: none;
      color: $font-color-main;
      font-family: $font-main;
    }
  }

  .Info {
    .Name {
      font-size: 14px;
      font-weight: 700;
    }
    .Bio {
      margin-top: 4px;
      font-size: 14px;
    }
  }

  .Testimonial.isActive {
    border-top: 4px solid $mustard;

    .Text {
      display: unset;
    }

    .Attribution {
      background: $purple-light;
      box-shadow: $box-shadow;
      color: white;
    }
  }
}
