@import "../main.scss";

.Testimonials {
  display: flex;
  flex-direction: row;

  .Testimonial {
    height: 480px;
    width: 120px;
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgba(0,0,0,0);

    &.isActive {
      border-top: 4px solid $mustard;
    }
  }
}
