@import '../main.scss';

.Videos {
  max-width: $site-max-width;
  margin: auto;
  margin-top: 48px;
  padding: 48px $site-padding;
  @include sm {
    margin-top: 0;
    padding: 120px $site-padding 0 $site-padding;
  }

  h2 {
    font-size: $size-h2;
    font-family: $font-main;
    font-weight: bold;
    color: $font-color-main;
    text-align: center;
  }

  .VideoContainer {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 12px;
    @include sm {
      margin-top: 48px;
    }

    .VideoPreview {
      border: 1px dotted pink;
      position: relative;
      display: flex;
      justify-content: center;
      height: 207px;
      width: 368px;
      max-width: 95%;
      margin: 12px;
      &:last-child, &:nth-last-child(2) {
        display: none;
      }
      @include md {
        &:last-child, &:nth-last-child(2) {
          display: flex;
        }
      }

      &:hover {
        opacity: .8;
      }

      .VideoImage {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .PlayButton {
        width: 20%;
        z-index: 1;
      }
    }

  }
}
