@import './screens.scss';

// Font Family
$text-font: 'Montserrat';

// Sizes
$size-h1: 6em;
$size-h2: 2em;
$size-h3: 2em;
$size-cta: 2em;
$size-p: 1em;
$radius-main: 6px;
$site-max-width: 1200px;
$site-padding: 12px;

// Colors
$purple-light: #634AC7;
$purple: #372094;
$purple-dark: #291F4F;
$mustard: #F5BF22;
$white: white;
$white-cloud: #EDEBF5;
$khaki: #E4E0D6;

$cta-color-bg: $purple;
$cta-color-font: $white;

$font-color-main: $purple-dark;

$hover-filter: brightness(85%);
