@import './screens.scss';
@import './animations.scss';

// Font Family
$font-main: 'Montserrat';

// Sizes
$size-h1: 60px;
$size-h2: 30px;
$size-h3: 24px;
$size-h4: 18px;
$size-cta: 2em;
$size-p: 22px;
$radius-main: 4px;
$site-max-width: 1200px;
$site-padding: 12px;

// Colors
$purple-light: #634AC7;
$purple: #372094;
$purple-dark: #291F4F;
$mustard: #F5BF22;
$white: white;
$white-cloud: #EDEBF5;
$khaki: #fff9e8;

$box-shadow: 0px 22px 14px -10px rgba(99,74,199,0.44);

$cta-color-bg: $purple-light;
$cta-color-font: $white;

$font-color-main: $purple-dark;

$hover-filter: brightness(85%);
